 @-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  
  .project1:hover{
    background: url(../images/Group2.png);
    background-size: cover;
    -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

.project2:hover{
    background: url(../images/Group3.png);
    background-size: cover;
    -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

.project3:hover{
    background: url(../images/Group4.png);
    background-size: cover;
    -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .link1:hover{
    color: #6236FF;
}

.link2:hover{
    color: #6236FF;
}

.inicial:hover{
    color: #6236FF;
}

a:hover{
    color: #6236FF;
}

.mail:hover{
    color: #6236FF;
}

.linkedin:hover{
    color: #6236FF;
}

.medium:hover{
    color: #6236FF;
}

.behance:hover{
    color: #6236FF;
}

.flecha img{
    margin-left: 0.5%;
}

.flecha img{
    transition: 0.2s;
    text-decoration: underline;

}
.flecha:hover img{
    margin-left: 1%;
}

.arro{
  display: flex;
}

.arrowed{
  margin-left: 7%;
  transition: 0.2s;
}

.arro:hover img{
  margin-left: 15%;
}