 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  
.aboutme{
    margin: 1% 5% 5% 5%;
    display: flex;
    justify-content: space-between;
}

.yo{
    width: 80vh;
    height: 75vh;
    background-image: url(../images/micara.png);
    background-size: cover;
    margin-top: 0px;
    -webkit-animation: slide-top 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


.info{
    margin: 1% 5% 5% 5%;
}

.info p{
    line-height: 1.8;
    font-size: 1.4em;
    font-family: "geometria-light";
}

.mascosas{
    margin: 1% 8% 5% 5%;
    display: flex;
    justify-content: space-between;
}

.cv{
    margin: 1% 5% 3% 5%;
    display: flex;
}


